.body {
    background-color: color('grey','lighten-5');
}

.load-posts{
    width:100%;
}
.page{
    margin:auto;
}

.blog{
    @extend .card-panel;
    margin:auto;
}

.content {
    width:90%;
    max-width:800px;
    img{
        @extend .responsive-img;
    }
    .wp-caption{
        max-width:100%;
    }
}

.hide {
    display:none;
}
.content-other {
    margin:auto;
    overflow:auto;
    //margin-top:10px;
    @extend .card-panel;

    p {
        @extend .flow-text;
    }
}

.loading {
    width:100%;
}
