.body {
    background-color: color('grey','lighten-5');
}

.load-posts{
    width:100%;
}
#pages{
}

#posts{
}

.content {
    width:90%;
    max-width:800px;
    margin:auto;
    img{
        @extend .responsive-img;
    }
    .wp-caption{
        max-width:100%;
    }
}

.hide {
    display:none;
}

.loading {
    width:100%;
}
