.content-thumbnail{
    width:100%;
    margin:auto;
    
    $card-width: 180px;

    .thumbnail-card-full{
        width:100%;
    }

    .thumbnail-card-small{
        width:$card-width;
    }
    .thumbnail-card {
        @extend .card;
        .thumbnail-content{
            @extend .card-content;
        }
        .thumbnail-image{
            @extend .card-image;
        }
        .thumbnail-action{
            @extend .card-action;
        }
        .thumbnail-reveal{
            @extend .card-reveal;
        }
    }
    
    .grid-sizer {
        width:$card-width;
    }
    .gutter-sizer{
        width:4%;
    }
    
    ul {
        list-style-type: none; 
        li {
            @extend .chip;
        }
        .filtered{
            @extend .red;
        }
    }

    .btn,.load-thumbnail{
        width:100%;
    }
}

.content {
    margin:auto;
    margin-top:10px;
    @extend .card-panel;

    p {
        @extend .flow-text;
    }
}

.loading {
    width:100%;
}


