.content-thumbnail{
    width:100%;
    margin:auto;
    
    $card-width: 180px;

    .thumbnail-full{
        width:100%;
        .thumbnail-reveal{
            margin:10px; 
        }
        .thumbnail-image{
            @extend .card-image;
        }
    }
    
    .thumbnail-small{
        width:$card-width;
        min-height:200px;
        .thumbnail-reveal{
            display:none;
        }
        .thumbnail-image{
            @extend .card-image;
        }
    }
    .thumbnail-card {
        @extend .hoverable;
        @extend .card;
        
        .thumbnail-content{
            @extend .card-content;
        }
        .thumbnail-action{
            @extend .card-action;
        }
    }
    .grid-sizer {
        width:$card-width;
    }
    .gutter-sizer{
        width:10px;
    }
    ul {
        list-style-type: none; 
        li {
            @extend .chip;
        }
        .filtered{
            @extend .red;
        }
    }
}

