.category-list{
  margin:10px;
  text-align:center;
  li {
    a{
      font-family:'Varela Round';
      font-size:20px;
    }
    color:black;
    display:inline; 
  }
  li+li:before{
    content:'| ';
    font-family:'Varela Round';
  }

  .category-tag {
  }
}
