$card-width: 180px;

.content-thumbnail{
    width:100%;
    margin:auto;
   
    .grid-sizer {
        width:$card-width;
    }
    .gutter-sizer{
        width:10px;
    }
}

.thumbnail {
  border-style:solid;
  border-width:2px;
  margin:10px 0 10px 0; 
  width:$card-width;
  min-height:50px; 
}

.page-thumbnails {
  .grid-sizer {
      width:240px;
  }
  .thumbnail {
    min-height:100px;
  }
  
  .thumbnail-small{
    width:240px;
  }
  
  .thumbail-full{
    width:100%;
  }
}
.thumbnail-image.thumbnail-small:hover .feature-image{
    filter:blur(2px);
}

.thumbnail-image{
  .thumbnail-title{
    opacity:0;
  }
  .feature-image{
    display:block;
    margin:auto;
  }
  &:hover .thumbnail-title{
    background:rgba(0,0,0,.6);
    color:white;
    width:100%;
    opacity:1;
  }
}


.thumbnail-small{
  @extend .hoverable;
  
  .thumbnail-title{
    width:100%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    overflow-wrap:break-word;
  }
  .thumbnail-excerpt{ display:none; }
  .thumbnail-content{ display:none; }
}

.thumbnail-medium{
  @extend .hoverable;
  width:100%;
  
  .thumbnail-excerpt{
      margin:10px; 
  }
  .feature-image{ 
    max-height:200px; 
  } 
  .thumbnail-title{ display:none; }
  .thumbnail-content{ display:none; }
}

.thumbnail-full{         
    width:100%;
    .thumbnail-content{
        padding:10px;
    }
  .feature-image{ display:none; } 
  .thumbnail-title{ display:none; }
  .thumbnail-excerpt{ display:none; }
}

.tag-list{
  padding:10px;
  li{
    display:inline;
    background-color: grey;
    border-radius: 20px;
    color: darken(grey, 60%);
    display: inline-block;
    font-size:x-small;
    line-height: 1;
    padding: 0.4em 1.2em;
  }
}



