$card-width: 180px;
$break-point:365px; 

.content-thumbnail{
    width:100%;
    margin:auto;
   
    .grid-sizer {
      @media only screen and (max-width:$break-point){
        width:100%;
      }
      @media only screen and (min-width:$break-point){
        width:$card-width;
      }
    }
      
    .gutter-sizer{
        width:10px;
    }
}

.content-thumbnail.single-lane .thumbnail{
  width:100%;
}

.thumbnail-container{ 
  z-index:0; 

  @media only screen and (max-width:$break-point){
    width:100%;
  }
  @media only screen and (min-width:$break-point){
    width:$card-width;
  }
}

.thumbnail-container-full{ 
  z-index:1; 
  width:100%;
  left:0px; 
}

.thumbnail {
  border-style:solid;
  border-width:2px;
  margin:10px 0 10px 0;  
  background-color:white;
  position:relative;
  transition:
    width .4s,
    height .4s,
    left .4s,
    border-color .4s,
    border-width .1s;
  .thumbnail-title{
    font-size:20px; 
    padding:5px 5px 5px 20px;
    text-align:right;
  }
}

.page-thumbnails {
  .grid-sizer {
    @media only screen and (max-width:$break-point){
      width:100%;
    }
    @media only screen and (min-width:$break-point){
      width:240px;
    }
  }
  .thumbnail-container{
    @media only screen and (max-width:$break-point){
      width:100%;
    }
    @media only screen and (min-width:$break-point){
      width:240px;
    }
  }
  .thumbnail-container-full{ 
    z-index:1; 
    width:100%;
    left:0px; 
  }
 
  .thumbnail-small{
    width:240px;
  }
  .thumbnail-title{
    width:236px;
  }
  .thumbail-full{
    width:100%;
  }
}
.thumbnail-image.thumbnail-small:hover .feature-image{
  filter:blur(2px);
}

.thumbnail-image.thumbnail-small{
  .thumbnail-title{
    background:rgba(0,0,0,0);
    position:absolute;
    top:50%;
    height:0; 
    padding:0;
    opacity:0;
    transition:top .4s,opacity .25s;
  }
  .feature-image{
    filter:blur(0px);
    transition:filter .25s;
    display:block;
    margin:auto;
  }
  &:hover .thumbnail-title{
    background:rgba(0,0,0,.6);
    color:white;
    width:100%;
    transform:translateY(-50%);
    height:auto; 
    opacity:1;
  }
}


.thumbnail-small{
  width:$card-width;
  z-index:0; 
  .thumbnail-title{
    overflow-wrap:break-word;
  }
  .thumbnail-excerpt{ display:none; }
  .thumbnail-content{ display:none; }
}

.thumbnail-medium{
  overflow-x:hidden; 
  overflow-y:hidden; 
  width:100%;
  border-width:4px; 
  .thumbnail-excerpt{
    margin:25px 10px 10px 10px; 
  }
  .feature-image{ 
    height:150px; 
  } 
  .thumbnail-title{ 
  }
  .thumbnail-content{ display:none; }
}

.thumbnail-full{  
  z-index:1;
  overflow-x:hidden; 
  overflow-y:hidden; 
  width:100%;
  border-width:4px;
  .thumbnail-content{
      padding:10px;
  }
  .feature-image{ 
  } 
  .thumbnail-title{
  }
  .thumbnail-excerpt{ display:none; }
}
.thumbnail-small:hover,.thumbnail-medium:hover{
  border-color:$primary;
}

.tag-list{
  padding:10px;
  li{
    a{
      font-family:'Varela Round';
      font-size:20px;
    } 
    display:inline;
    background-color: grey;
    border-radius: 20px;
    color: darken(grey, 60%);
    display: inline-block;
    line-height: 1;
    padding: 0.4em 1.2em;
  }
}



