<div class='container content blog' data-url='{{ url }}Posts' style='display:none;'>

    <div class='category-tags'></div>
    <div class='post-thumbnails content-thumbnail'>
        <div class='grid-sizer'></div>
        <div class='gutter-sizer'></div>
    </div>
    <div>
        <span class='btn load-posts'>Load More</span>
    </div>
    {{{ loading }}}

</div>

