<div class='content blog' data-url='{{ url }}' style='display:none;'>

    <div class='controls'>
        <ul class='collapsible' data-collapsible="accordian">
            <li> 
                <div class='collapsible-header'>Categories</div>
                <div class='category-tags collapsible-body'></div>
            </li>
        </ul>
    </div>
    <div class='post-thumbnails content-thumbnail'>
        <div class='grid-sizer'></div>
        <div class='gutter-sizer'></div>
    </div>
    <div class='blog-load'>
        <span class='btn load-posts'>Load More</span>
    </div>
    {{{ loading }}}

</div>

