<ul class='category-tags'>
    {{#each categories}}
        <li>
            <span class='category-tag' data-cat='{{ this.slug }}'>
                <a class='link-button' href='/posts/filter/.{{this.slug}}'> 
                    {{ this.name }}
                </a>
                <span class='category-count'>
                    {{ this.count }}
                </span>
            </span>
        </li>
        {{#each children}}
        <li>
             <span class='category-tag' data-cat='{{ this.slug }}'>
                {{ ../name}}/{{ this.name }}
                <span class='category-count'>
                    {{ this.count }}
                </span>
            </span>
        </li>
        {{/each}}
    {{/each}}
</ul>
