<ul class='category-list'>
    {{#each categories}}
        <li>
            <span class='category-tag' data-cat='{{ this.slug }}'>
                <a class='link-button' href='/posts/filter/.{{this.slug}}'> 
                    {{ this.name }}
                </a>
            </span>
        </li>
    {{/each}}
</ul>
