<div class='content container home hide' data-url="{{ url }}home" style='display:none;'>
    <div class='page-thumbnails content-thumbnail'>
        <div class='grid-sizer'></div>
        <div class='gutter-sizer'></div>
    </div>
</div>

