<div id='{{id}}' class="thumbnail-container {{ category_string }} ">
    <div class="thumbnail thumbnail-small {{#if img_url}}thumbnail-image{{/if}}">
        {{#if img_url }}
            <img class='feature-image' src='{{img_url }}'>
        {{/if}}
        <div class="thumbnail-title">
            {{{ title.rendered }}} 
        </div>
        <div class="thumbnail-content">
            {{{ content.rendered }}}
        </div>
    </div>
</div>

