<div class="thumbnail-card thumbnail-small {{ category_string }}">
    {{#if img_url }}
        <div class="thumbnail-image">
            <img class='activator' src='{{img_url }}'>
        </div>
    {{/if}}
    <div class="thumbnail-title">
        <span class="thumbnail-title activate"> {{{ title.rendered }}} </span>
    </div>
    <div class="thumbnail-action">
        <span class='btn page-view-button link-button' data-href='/pages/{{id}}' >View</span>
    </div>
    <div class="thumbnail-content">
        {{{ excerpt.rendered }}}
    </div>
</div>

