<div class="thumbnail-card thumbnail-small" data-sticky='{{#if sticky }}1{{else}}0{{/if}}'>
    {{#if img_url }}
        <div class="thumbnail-image">
            <img src='{{img_url }}'>
        </div>
    {{/if}}
    <div class="thumbnail-title">
        <span class="thumbnail-title activate"> 
            {{{ title.rendered }}} 
        </span>
    </div>
     <div class="thumbnail-excerpt">
        {{{ excerpt.rendered }}}
    </div>
    <div class="thumbnail-content">
        {{{ content.rendered }}}
    </div>
</div>

